@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body {
    font: 14px/1.8 sans-serif;
    color: #7a8994;
}

h1, h2, h3, h4, h5, h6 {
    color: #373e43;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
}

img {
    max-width: 100%;
}

a {
    outline: 0;
    color: #0064BC;
    text-decoration: none;
}

#wrapper {
    display: flex;
    height: 100%;
    background: red;
}

.logo {
    max-width: 157px;
    margin-bottom: 35px;
}

.item-left {
    background-color: #F7F6F1;
    flex: 4 0 0%;
    display: flex;
    align-items: flex-end;
    padding: 20px;
}

.item-left h3 {
    font-size: 31px;
    letter-spacing: 0.14px;
    font-weight: 400;
}


.item-right {
    background-color: #fff;
    padding: 80px 50px 0;
    flex: 1 0 0%;
}

/* Form */
.login_title {
    color: #7A8994;
    margin: 0 0 15px;
}

form#form_logo .inpit-wrap {
    border: 1px solid rgba(0,0,0,.07);
    padding: 7px 15px 4px;
    margin-bottom: 15px;
}

form#form_logo label {
    color: #7A8994;
    font-size: 11px;
    text-transform: uppercase;
}

form#form_logo input {
    width: 100%;
    border: 0;
    outline: none;
}

form#form_logo .btn-wrap {
    display: flex;
    justify-content: space-between;
}

form#form_logo .btn-submit {
    outline: none;
    border: 0;
    line-height: 35px;
    padding: 0 17px;
    background-color: #3395ed;
    color: #fff;
    width: auto;
}

form#form_logo .btn-submit:hover {
    background-color: #0064bc;
}

.btn-wrap button {
    width: 100%;
    display: block;
    height: 35px;
    line-height: 35px;
    border: 0;
    margin: 0 0 15px;
    outline: none;
    text-align: left;
    color: #fff;
    background-color: #7A8994;
    border-radius: 4px;
    cursor: pointer;
    /* transition: .4s ease-in-out; */
}

.btn-wrap button span,
.btn-wrap button i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.2);
    margin-right: 10px;
}

button.button-facebook {
    background-color: #3b5998;
}

button.button-facebook:hover {
    background-color: #23345a;
}

button.button-google {
    background-color: #a32b1c;
}

button.button-google:hover {
    background-color: #C23321;
}

@media (max-width: 991px) {
    .item-left {
        display: none;
    }

    .item-right {
        flex: 1 1 0%;
    }
}

@media (max-width: 767px) {

    .item-right {
      padding: 50px 30px 0;
    }

    .logo {
        margin-bottom: 20px;
    }
}